.intro-main-page {
  background-color: #ffffff;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 389px;

    background-size: 768px 57px, 768px auto;
    background-position: 50% 333px, center;
    background-repeat: no-repeat;
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-color: #daeaf2;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-mobile@2x.jpg");
    }
  }

  &__logo {
    width: 280px;
    padding: 0;
  }

  &__subtitle {
    margin-top: 28px;
    margin-bottom: 25px;

    line-height: 26px;
  }

  &__title {
    margin-top: 40px;

    font-size: @font-size-title;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;

    text-align: center;
  }
}

@media (min-width: 550px) {
  .intro-main-page {
    &__header {
      align-items: flex-start;
      height: 518px;

      background-size: 1200px 57px, 1200px 518px;
      background-position: 50% 462px, center;
      background-repeat: no-repeat;
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
      }
    }

    &__logo {
      width: 460px;
      height: 350px;
      padding-top: 77px;
    }

    &__subtitle {
      margin-bottom: 50px;
    }

    &__title {
      margin-top: 50px;

      font-size: 21px;
    }

    &__wrapper {
      width: 490px;
      box-sizing: border-box;
    }
  }
}

@media (min-width: 880px) {
  .intro-main-page {
    &__wrapper {
      width: 500px;
    }
  }
}
